/*
Ramy Huffman
itunes.css
*/


div {
	display: inline-block;
	text-align: left;
  }

img {
	display: inline-block;
	vertical-align: top;
}

#submit {
	margin-left: 0;
	width: 10em;
}
span {
	font-family: "Times New Roman";
	font-style: normal;


}

ul {
	list-style-type: none;

}

h3 {
	margin: 0px;
	padding: 0px;
}

h4 {
	align: center;
	border: 1px solid;
	padding: 10px;
	width: 40em;
}


